<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/ubicaciones" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Informacion</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  <ion-img class="img-center" src="https://via.placeholder.com/150x75"></ion-img>
  <ion-grid fixed *ngFor="let informacion of informacionData | async">
    <ion-row>
      <ion-col size="4">Descripción:</ion-col>
      <ion-col size="8">{{ informacion.desc }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Local:</ion-col>
      <ion-col size="8">{{ informacion.nomLocal }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Dirección:</ion-col>
      <ion-col size="8">{{ informacion.ubicacion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Número de canchas:</ion-col>
      <ion-col size="8">{{ informacion.numCanchas }}</ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="4">Otros servicios:</ion-col>
      <ion-col size="3">{{ informacion.otrosServicios.resp }}</ion-col>
      <ion-col size="5">
        <a *ngIf="informacion.otrosServicios.verificacion">ver servicios</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Num Telf:</ion-col>
      <ion-col size="8">
        <ion-row>
          <ion-col size="4">Celular</ion-col>
          <ion-col size="8">{{ informacion.telf.celular }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Convencional</ion-col>
          <ion-col size="6">{{ informacion.telf.convencional }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Horario de atención</ion-col>
      <ion-col size="8"><a>Ver horarios</a></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

