<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/ubicaciones" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Informacion</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-img class="img-center" src="https://via.placeholder.com/150x75"></ion-img>
  <ion-item>
    <ion-label>Propietario</ion-label>
    <ion-label>Jonathan Cabuyales</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ubicación</ion-label>
    <ion-label>Cualquiera</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Numero Canchas</ion-label>
    
    <ion-label>4</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label>Otros servicios</ion-label>
    <ion-label>Si/No</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Numero Telf:</ion-label>
    <ion-label>0983162344</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Horario Atención</ion-label>
    <ion-label>Lun - Vie | 10:00 - 22:00</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-label>USD 25</ion-label>
  </ion-item>

  
</ion-content>

