<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="titulo">Registrarse</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <ion-list>
    <ion-item lines="none" class="ion-padding-top">
      <ion-label class="titulo">Registrarse</ion-label>
    </ion-item>
    <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label position="floating" class="form-label" >Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" ></ion-input>
      </ion-item>
      <small *ngIf="NombreError" color="danger">El campo es obligatorio</small>
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label position="floating" class="form-label" >Apellido</ion-label>
        <ion-input type="text" formControlName="apellido" ></ion-input>
      </ion-item>
      <small *ngIf="ApellidoError" color="danger">El campo es obligatorio</small>
      <ion-item>
        <ion-icon slot="start" name="id-card"></ion-icon>
        <ion-label position="floating" class="form-label" >Cedula</ion-label>
        <ion-input type="number" formControlName="cedula" ></ion-input>
      </ion-item>
      <small *ngIf="telfError" color="danger">Debe ingresar al menos 10 digitos</small>
      <ion-item>
        <ion-icon slot="start" name="call"></ion-icon>
        <ion-label position="floating" class="form-label" >Teléfono ceular</ion-label>
        <ion-input type="number" formControlName="telf" ></ion-input>
      </ion-item>
      <small *ngIf="CedulaError" color="danger">Debe ingresar al menos 10 digitos</small>
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label position="floating" class="form-label" >Correo</ion-label>
        <ion-input type="text" formControlName="correo"></ion-input>
      </ion-item>
      <div class="validadorCorreo">
        <small *ngIf="CorreoError" color="danger">El campo es obligatorio</small>
        <small *ngIf="CorreoError" color="danger">Ingrese un correo valido</small>        
      </div>
      <ion-item>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-label position="floating" class="form-label" >Contraseña</ion-label>
        <ion-input type="text" formControlName="passw" ></ion-input>
      </ion-item>
      <small *ngIf="PasswError" color="danger">El campo es obligatorio</small>
      <ion-item>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-label position="floating" class="form-label" >Confirmar contraseña</ion-label>
        <ion-input type="text" formControlName="confpassw" ></ion-input>
      </ion-item>
      <small *ngIf="PasswConfError" color="danger">El campo es obligatorio</small>
      <!-- <ion-item lines="none" class="ion-padding-bottom">
        <ion-label class="ion-text-wrap terms">De acuerdo con lo términos de servicio y privacidad</ion-label>
        <ion-checkbox slot="start"></ion-checkbox >
      </ion-item> -->
      <ion-button type="submit" expand="block" class="register" shape="round">
        Continuar
      </ion-button>
    </form>

    <ion-item lines="none" class="ion-padding-top">
      <ion-label class="log-in">¿Ya tienes una cuenta? <a routerLink="/home">Inicia sesion</a></ion-label>
      
    </ion-item>
  </ion-list>

</ion-content>
